<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    {% load bootstrap4 %}
    <meta http-equiv="Content-Type" content="ie=edge">
    {% bootstrap_css %}
    {% bootstrap_jquery %}
    <title>{% block title %}Главная{% endblock %} - Arty Shop</title>
</head>
<body class="container-fluid">
<div class="row navbar navbar-light bg-light">
    <a href="{% url 'catalog:list' %}" class="navbar-brand">Arty Shop</a>
    <a href="{% url 'catalog:list' %}" class="nav-link">Главная</a>
    <form class="form-inline" method="get" action="{% url 'catalog:search' %}">
        <input class="form-control" type="text" name="q" placeholder="Поиск...">
        <button class="btn btn-success mx-2" type="submit">Найти</button>
    </form>
</div>
<div class="row">
    <div class="col-md-auto border border-dark bg-light rounded m-2 p-2">
        <p class="p-2"><strong>Фильтры:</strong></p>
        <form method="get" action="{% url 'catalog:by_category' %}" class="p-2">
            {% for category in view.get_categories %}
                <p>
                    <label>
                        <input type="checkbox" class="checked" name="category" value="{{ category.url }}">
                        <span onmousedown="return false">{{ category }}</span>
                    </label>
                </p>
            {% endfor %}
            <p><strong>Процессор:</strong></p>
            {% for core in cores %}
                <p>
                    <label>
                        <input type="checkbox" class="checked" name="core" value="{{ core }}">
                        <span onmousedown="return false">{{ core }}</span>
                    </label>
                </p>
            {% endfor %}
            <p><strong>Операционная система:</strong></p>
            {% for os in oss %}
                <p>
                    <label>
                        <input type="checkbox" class="checked" name="os" value="{{ os }}">
                        <span onmousedown="return false">{{ os }}</span>
                    </label>
                </p>
            {% endfor %}
            <p><strong>Диагональ экрана:</strong></p>
            {% for diagonal in diagonals %}
                <p>
                    <label>
                        <input type="checkbox" class="checked" name="diagonal" value="{{ diagonal }}">
                        <span onmousedown="return false">{{ diagonal }}</span>
                    </label>
                </p>
            {% endfor %}
            <p><strong>Частота обновлений:</strong></p>
            {% for refresh_rate in refresh_rates %}
                <p>
                    <label>
                        <input type="checkbox" class="checked" name="refresh_rate" value="{{ refresh_rate }}">
                        <span onmousedown="return false">{{ refresh_rate }}</span>
                    </label>
                </p>
            {% endfor %}
            <p><strong>Оперативная память:</strong></p>
            {% for ram in rams %}
                <p>
                    <label>
                        <input type="checkbox" class="checked" name="ram" value="{{ ram }}">
                        <span onmousedown="return false">{{ ram }}</span>
                    </label>
                </p>
            {% endfor %}

            <button type="submit" class="btn btn-success" id="button">Найти</button>
        </form>
    </div>
    <div class="col border border-dark bg-light rounded m-2 p-2">
        <div class="m-2" id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>