{% extends 'layout/basic.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
    {{ laptop.title }}
{% endblock %}

{% block content %}
    <p class="border-bottom p-2"><strong>{{ laptop.title }}</strong></p>
    {% if laptop.image %}
        <img src="{{ laptop.image.url }}" alt="image" class="p-2">
    {% else %}
        <img src="{% static 'default/default-image-150x150.jpg' %}" alt="image">
    {% endif %}
    <section class="p-2 border-top">
        <p>
            <strong>Описание:</strong><br>{{ laptop.description }}
        </p>
    </section>
    <section class="p-2 border-top">
        <p>
            <strong>Характеристики:</strong>
        </p>
        <table border="2" cellpadding="5">
            <tbody>
            <tr>
                <td>Процессор</td>
                <td>{{ laptop.core }}</td>
            </tr>
            <tr>
                <td>Операционная система</td>
                <td>{{ laptop.os }}</td>
            </tr>
            <tr>
                <td>Оперативная память (ОЗУ) Гб</td>
                <td>{{ laptop.ram }}</td>
            </tr>
            <tr>
                <td>Хранилище</td>
                <td>{{ laptop.storage }}</td>
            </tr>
            <tr>
                <td>Операционная система</td>
                <td>{{ laptop.os }}</td>
            </tr>
            <tr>
                <td>Диагональ экрана</td>
                <td>{{ laptop.diagonal }}</td>
            </tr>
            <tr>
                <td>Частота обновлений экрана</td>
                <td>{{ laptop.refresh_rate }}</td>
            </tr>
            </tbody>
        </table>
    </section>
    <form action="{% url 'add' id=laptop.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success addToCart" data-id="{{ laptop.id }}">Добавить в корзину</button>
    </form>
{% endblock %}