{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}Product List{% endblock %}

{% block content %}
    <h2 class="p-2 row">Последние опубликованые товары</h2>
    <div class="p-2 row row-cols-3">
        {% for laptop in laptops %}
            <div class="col-md-4 m-2 p-2 border rounded">
                <img src="#" alt="#" width="150px" height="150px">
                <p>
                    <strong>
                        <a href="{{ laptop.get_absolute_url }}">{{ laptop.title }}</a>
                    </strong>
                </p>
                <p>
                    {{ laptop.description }}
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}